<!--Don't change the name of this file-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       

		<bean id='paymentDepartment' class='com.example.Customers.PaymentDepartment'></bean>
		<bean id='queryDepartment' class='com.example.Customers.QueryDepartment'></bean>
		<bean id='salesDepartment' class='com.example.Customers.SalesDepartment'></bean>


</beans>